{% extends 'base.html.twig' %}

{% block title %}Men체karte | Auswahl{% endblock %}

{% block body %}
    {%  for message in app.flashes('bestellung') %}
    <div class="alert alert-success" role="alert">
        <h3>{{ message }}</h3>
    </div>
    {% endfor %}
    <section class="playlist-section spad">
        <div class="container-fluid">
            <div class="section-title">
                <h2>Men체karte</h2>
            </div>
            <div class="container">
                <ul class="playlist-filter controls">
                    <li class="control" data-filter=".Getr채nk">Getr채nke</li>
                    <li class="control" data-filter=".Vorspeise">Vorspeisen</li>
                    <li class="control" data-filter=".Hauptspeise">Hauptspeisen</li>
                    <li class="control" data-filter=".Nachspeise">Nachspeisen</li>
                    <li class="control" data-filter="all">Alle Gerichte</li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="row playlist-area">
                {%  for gericht in gerichte %}
                <div class="mix col-lg-3 col-md-4 col-sm-6 {{ gericht.kategorie }}">
                    <div class="playlist-item">
                        <img src="{{ asset('bilder/' ~ gericht.bild) }}" alt="">
                        <h3>{{ gericht.name }}</h3>
                        <h5>{{ gericht.beschreibung }} - EUR {{ gericht.preis }}</h5>
                        <p>Bestell-Nr. {{ gericht.id }} | <a class="btn btn-outline-danger btn-sm" href="{{ path('app_bestellen', {id: gericht.id}) }}">Bestellen</a></p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
