{% extends 'base.html.twig' %}

{% block title %}Menükarte | Bestellung{% endblock %}

{% block body %}

    {% set summe = 0 %}
    {% for bestellung in bestellungen %}
        {% set summe = summe + bestellung.preis %}
    {% endfor %}

    {% for message in app.flashes('bestellung') %}
        <div class="alert alert-success" role="alert">
            <h3>{{ message }}</h3>
        </div>
    {% endfor %}

    <br/>
    <div class="container">
        <h2>Ihre Bestellung</h2>
        <br/>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Bestell-Nr.</th>
                    <th scope="col">Gericht</th>
                    <th scope="col">Preis</th>
                    <th scope="col">Status</th>
                    <th scope="col">Löschen</th>
                </tr>
            </thead>
            <tbody>
                {% for bestellung in bestellungen %}
                    <tr>
                        <td>{{ bestellung.id }}</td>
                        <td>{{ bestellung.name }}</td>
                        <td>{{ bestellung.preis }} EUR</td>
                        <td>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <div class="dropdown show">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ bestellung.status }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="{{ path('app_bestellung_status', {id: bestellung.id, status: 'offen'}) }}">offen</a>
                                    <a class="dropdown-item" href="{{ path('app_bestellung_status', {id: bestellung.id, status: 'fertig'}) }}">fertig</a>
                                    <a class="dropdown-item" href="{{ path('app_bestellung_status', {id: bestellung.id, status: 'archiv'}) }}">archiv</a>
                                </div>
                            </div>
                            {% else %}
                            {{ bestellung.status }}
                            {% endif %}
                        </td>
                        <td>
                            {% if bestellung.status == 'offen' %}
                            <a class="btn btn-outline-danger btn-sm" href="{{ path('app_bestellung_entfernen', {id: bestellung.id}) }}">Entfernen</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td><b>Summe:</b></td>
                    <td><b>{{ summe }} EUR</b></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
